  .bg-header-image{
    width:100vw;
    height:700px;
    object-fit: cover;
    margin-top:-140px;
    }

.navbar-scrolled{
background-color: black;
box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.navbar{
transition: all 0.6s;
}


.text1{
  font-size: 15px;
  margin: 0;
  /* border: 1px solid green; */
}

.text2{
  font-size: 15px;
  margin: 0;
  /* border: 1px solid green; */
}

.summaryDesign{
 margin:0 5px 0 5px;
 /* border: 1px solid red; */
}
.summaryDesign,.castDesign{
  /* width:180px; */
  font-size: 13.5px;
}

.posterImage{
  /* border: 1px solid blue; */
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  /* border-top-left-radius: 5%;
  border-top-right-radius: 5%; */
  /* border-radius: 5%; */
  /* margin-bottom:5%; */
  width: 280px;
  position:relative
  /* padding-bottom: 4%; */
}

.cardDesign {
  background-color: black; 
  /* height: 255px; */
  margin-bottom: 1%;
  cursor: pointer;
  /* border:1px solid yellow;  */
  width:280px ;

} 

.cardDesign:hover .movieContent{ 
  display: block;
  z-index: 1000;
   /* border:1px solid green;  */
}   

.cardDesign:hover{
  box-shadow: 20px 20px 20px rgb(79,79,103);
  transform: scale(1.1,1.1);
  /* border:1px solid blue;  */
}

.movieContent{
  display:none;  
}

.movieContent:hover{
  display:block;
}

body{
overflow-x:hidden;
}

.input-icons, .icon {
  position: absolute;
}

.icon{
  color:grey;
  
}

 .input-field{
  /* padding:3px 60px 0px 30px; */
  text-align:left;
} 

.sign_up_in_container{
    height: 430px;
    background: #0a0b0e;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
  }

.inputDesign{
  background-color:#26292b;
  border-color: black;
  color:white,
}

 table {
  border: 2px solid rgb(109, 104, 104);
  text-align: start;
}

th{
  font-size: 130%;
  background-color: rgb(55, 55, 56);
}

